<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

<div class="dash">
<div class="dashboard">
    <div class="header">
    <h2>Course Management System</h2>
    <h3>Add Student to MT203</h3>
    </div>
    <div class="form">
    <form action="adm_view-coursee.html" method="post" >
        <input type="text" placeholder="Roll Number" required/>
    <button class="button">
    ADD
    </button>
    </form>
</div>
</div>
</div>

</body>
</html>
