<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

<div class="dash">
  <div class="dashboard">
    <div class="header">
      <h2>Course Management System</h2>
      <h3>View Courses</h3>
    </div>
    <div>
        <table>
            <tr>
              <th>Course ID</th>
              <th>Course</th>
              <th>Pre-Requisite</th>
            </tr>
            <tr>
              <td>CS118</td>
              <td>Programming Fundamentals</td>
              <td></td>
            </tr>
            <tr>
              <td>MT102</td>
              <td>Calculus</td>
              <td></td>
            </tr>
            <tr>
                <td>CS203</td>
                <td>Object Oriented Programming</td>
                <td>CS118</td>
              </tr>
          </table>
      </div>
      <div>
        <button type="button" class="button" onclick="location.href='./s_dash.html'">
            Back
            </button>
      </div>
  </div>
</div>

</body>
</html>
