<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

<div class="dashboard">
  <div class="dash">
    <div class="header">
      <h2>Course Management<br>System</h2>
      <h3>Add PreRequisite</h3>
    </div>
    <div class="student-register form">
    <form action="adm_add_course_to_st.html" method="post">
        <h2>Department</h2>
        <select id="dept" name="Dept" required>
            <option value="CS">CS</option>
            <option value="EE">EE</option>
            <option value="FSM">FSM</option>
            <option value="AI">AI</option>
        </select>
        <input id="cid" type="text" placeholder="Student ID" required/>        
    <button class="button">
      Confirm
    </button>
    </form>
  </div>
  </div>
</div>

</body>
</html>
