<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

<div class="dashboard">
  <div class="dash">
    <div class="header">
      <h2>Course Management<br>System</h2>
      <h3>Add Course</h3>
    </div>
    <div class="student-register form">
    <form action="adm-dash.html" method="post">
        <select id="dept" name="Department" required>
            <option value="CS">CS</option>
            <option value="BBA">BBA</option>
            <option value="EE">EE</option>
            <option value="AI">AI</option>
            <option value="CY">CY</option>
            <option value="SE">SE</option>
        </select>
        <input id="cid" type="text" placeholder="Course ID" required/>
        <input id="cname" type="text" placeholder="Course Name" required/>
        <input type="radio" id="yes" value="Yes">
        <h3>
        <label for="yes">Yes</label>
        <input type="radio" id="No"value="No">
        <label for="no">No</label>
    </h3>

            
        
        
    <button class="button">
      Register
    </button>
    </form>
  </div>
  </div>
</div>

</body>
</html>
