<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

<div class="dash">
<div class="dashboard">
    <div class="header">
    <h2>Course Management System</h2>
    <h3>Change Password</h3>
    </div>
    <div class="form">
    <form action="adm_dash.html" method="post" >
        <input type="text" placeholder="username" required/>
        <input type="password" placeholder="current password" required/>
        <input type="password" placeholder="new password" required/>
        <input type="password" placeholder="re-enter new password" required/>
    <button class="button">
    Change Password
    </button>
    </form>
</div>
</div>
</div>

</body>
</html>
