{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>

<div class="login-page">
  <div class="login">
    <div class="header">
      <h2>Course Management<br>System</h2>
    </div>
    <div>
        <h4>Admin Has Successfully Logged Out</h4>
    <button type="button" class="button" onclick="location.href='adm_login'">
      LOG IN
    </button>
    <button type="button" class="button" onclick="location.href='home'">
        RETURN TO HOME
      </button>
  </div>
  <div>
  </div>
  </div>
</div>

</body>
</html>
