{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body> 
   
<div class="dash">
  <div class="dashboard">

    <div class="header">
      <h2>Course Management System</h2>
      <h3>Student dashboard</h3>
      <p>{{student.name}} {{student.batch}}I- {{student.roll_number}}</p>
      <p>{{student.department}}</p>
    </div>
    <div class="student-dash form">
    <button type="button" class="button" onclick="location.href='s_manage_acc'">
        Manage Account 
        </button>
    </div>
    <div>
        <button type="button" class="button" onclick="location.href='s_view_courses'">
        View Courses
        </button>
    </div>
    <div>
        <button type="button" class="button" onclick="location.href='s_enroll'">
        Enroll Course
        </button>
        <button type="button" class="button" onclick="location.href='s_drop'">
          Drop Course
        </button>
    </form>
    <button type="button" class="logout-button" onclick="location.href='s_logout'">
      LOGOUT 
    </button>
  </div>
  {% for message in messages %}
  <p>{{message}}</p>
{% endfor %}
  </div>
</div>

</body>
</html>
{% endblock content %}