{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>

<div class="dash">
  <div class="dashboard">
    <div class="header">
      <h2>Course Management System</h2>
      <h3>Teacher dashboard</h3>
      <p>{{teacher.name}}</p>
      <p>{{teacher.department}}</p>
    </div>
    <div class="teacher-dash form">
    <button type="button" class="button" onclick="location.href='t_manage_acc'">
        Manage Account
        </button>
    </div>
    <div>
        <button type="button" class="button" onclick="location.href='t_upload-lectures'">
        Upload Lecture
        </button>
      <div>
        <button type="button" class="button" onclick="location.href='t_view-courses'">
        View Courses
        </button>
      <div>
        <button type="button" class="logout-button" onclick="location.href='t_logout'">
          LOGOUT 
        </button>
  </div>
  {% for message in messages %}
  <p>{{message}}</p>
{% endfor %}
  
  </div>
</div>

</body>
</html>
{% endblock content %}