<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

<div class="dash">
  <div class="dashboard">
    <div class="header">
      <h2>Course Management System</h2>
      <h3>Grade Assessment</h3>
    </div>
    <form action="t_dash.html" method="post">
    <div>
        <table>
            <tr>
              <th>Student</th>
              <th>Marks</th>
            </tr>
            <tr>
              <td>i190745</td>
              <td><input type="number" value="i19" required></td>
            </tr>
            <tr>
            <td>i190656</td>
            <td><input type="number" value="i190656" required></td>
            </tr>
            <tr>
                <td>i190721</td>
            <td><input type="number" value="i190721" required></td>
              </tr>
          </table>
      </div>
      <button>Save Marks</button>
    </form>
      
  </div>
</div>

</body>
</html>
