<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

<div class="dash">
  <div class="dashboard">
    <div class="header">
      <h2>Course Management System</h2>
      <h3>CS 118</h3>
    </div>
    <div>
        <table align="center">
            <tr>
              <th>Student</th>
            </tr>
            <tr>
              <td>i190656</td>
            </tr>
            <tr>
            <td>i190723</td>
            </tr>
              <tr>
                <td>i190745</td>
              </tr>
          </table>
      </div><br>
    <div>
        <button type="button" class="button" onclick="location.href='t_set_registration_limit.html'">
        Set Registration Limit
        </button>
    </div>
      
  </div>
</div>

</body>
</html>
